.head {
	width: 100%;
	height: 88px;
	background-color: #03152D;
	border-bottom: 1px solid #23283C;/*
	padding-top: 14px;*/
	overflow: hidden;
}
.h_left {
	padding-left: 30px;
}
.h_left .an_logo {
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 14px;
}
.h_left .h_cut {
	float: left;
	margin-left: 20px;
	padding: 29px 5px;
}
.h_left .h_cut span {
	display: block;
	width: 2px;
	height: 30px;
	background-color: #fff;
	text-align: center;
}
.h_left .school {
	float: left;
	margin-left: 20px;
	width: 600px;
	color: #fff;
	font: 700 26px/88px "微软雅黑";
}
.h_left .school span {
	font-size: 16px;
}
.head .h_right {
	float: right;
	height: 30px;
	padding-top: 40px;
	
} 
.head .h_right ul {
	list-style-type: none;
	
}
.head .h_right ul li {
	float: left;
	margin-right: 5px;
	width: 50px;
	height: 50px;
}
.head .h_right ul li a {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	font-size: 24px;
	color: #00FFFF;
}
.head .h_right ul li a i{
	position: absolute;W
	top: 5px;
}
